* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* Twemoji de 会館　（ ＾ω＾）おっ */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}


main {
  height: 3000px;
  background-image: url("img/4.jpg")
  /*background: linear-gradient(150deg, #FC466B, #3F5EFB);*/
  /*background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));*/
}

.chinpo {
  padding-top: 100px;
}

.box {
  height: 2000px;
  margin: 0px 30% 0px 30%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 13px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.sackey {
  padding: 25px;
  height: 160px;
  width: 160px;
  float: left;
}

.ID {
  float: left;
}

.ID h1,p {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.name {
  font-size: 50px;
  margin-top: 75px;
}

.namenoshita {
  font-size: 25px;
}

.fa-solid {
  display: inline;
  font-size: 0.8em;
}

.explain {
  font-size: 25px;
  margin-left: 40px;
}

.classname-ga-omoitsukanai {
  height: 255px;
}

.button {
  margin: 30px 0px 0px 40px;
  font-size: 0;
}

.icon {
  font-size: 23px;
  vertical-align: bottom;
  display: inline-block;
  padding: 17px 55px;
  background: rgb( 29, 161, 242);
  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.shitama {
  margin: 40px 0px 10px 40px;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.twitter-timeline {
  margin-left: 40px;
  width: 90% !important;
}

.sentence {
  font-size: 22px;
  padding: 15px 40px;
}

.twitter-timeline{
  margin-top: 20px;
}

#joseiki {
  border-radius: 10px;
  background: white;
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.イチモツ {
  margin-top: 20px;
}

.fa-brands {
  font-size: 1.6em;
}




@media screen and (max-width: 800px) {
 .box {
   margin: 0px 5% 0px 5%;
 }
 .sackey {
   padding: 12.5px;
   height: 90px;
   width: 90px;
 }
.name {
  font-size: 25px;
  margin-top: 37.5px;
}
.namenoshita {
  font-size: 13.5px;
}
.explain {
  font-size: 18px;
  margin-left: 20px;
}
.classname-ga-omoitsukanai {
  height: 127.5px;
}
.button {
  margin: 15px 0px 0px 20px;
  font-size: 0;
}
.icon {
  font-size: 11.5px;
  padding: 13.5px 27.5px;
}
.twitter-timeline {
  margin-left: 20px;
  width: 90% !important;
}
.shitama {
  margin: 10px;
  margin-left: 20px;
  font-size: 15px;
}
.fa-solid {
  font-size: 0.4em;
}
.sentence {
  font-size: 12.2px;
  padding: 7.5px 20px;
}
#joseiki {
  border-radius: 10px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 6px;
}

}




.atutu {
  margin: 500px;
  animation:0.3s linear infinite rotation1;
}
@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}
