* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(225, 230, 240);
}
a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.main {
    height: 2500px;
    margin-bottom: 30px;
}

.button {
    font-family: 'Lato', sans-serif;
    color: black;
    float: left;
    margin: 15px;
    font-size: 40px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
    margin-left: 40px;
}

.h-list {
    border-radius: 10px;
    height: 80px;
    margin-bottom: 50px;
}

/* CSS覗き込むのやめてください！！ */

.h-title {
    margin: 30px;
    font-family: "Noto Sans JP";
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 1.3px;
}


.sentence {
    letter-spacing: 0.03em;
    font-size: 23px;
    margin-left: 40px;
    font-family: "Noto Sans JP";
    font-weight: 400;
}

.space {
    height: 30px;
}

.dan {
    font-size: 40px;
    padding: 20px;
    border-radius: 16px;
    background: #e1e6f0;
    box-shadow:  5px 5px 20px #bfc4cc,
                 -5px -5px 20px #ffffff;
    margin: 30px 50px 40px 40px;
    font-family: "Noto Sans JP";
    font-weight: 500;
}

.twitter-timeline {
    margin-left: 40px;
}

.right {
    float: left;
    margin-top: 40px;
}

.button:hover {
    box-shadow: 3px 3px 6px 1px rgb(216, 220, 230) inset,
                -3px -3px 6px 1px rgba(255,255,255,0.5) inset;
}
